*{
    user-select: none;    

}
#EasterEgg{
    font-size: 30px;
}

.Disclaimer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 40px;
    background-color: white;
    outline: solid 5px;
    margin: 0px;
    text-align: center;

}

#header{
    background-color: black;
    outline: 3px solid white;
    color: white;
    margin-top: 30px;
    padding: 20px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    justify-content: center;
}


#NavHead{
    font-size: 40px;
    margin: 0px 0px 3px 0px;
}

.navBar{
    font-size: 35px;
    background-color: white;
    height: 32px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 3px solid black;
}



#Home{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    border-left: 3px solid white;
    border-right: 3px solid white;

}
#Home img{
    width: 10vm;
    aspect-ratio: 1/1;
}
.Introduction{
    font-size: 20px;
    font-weight: bold;
}

#About{
    background-color: white;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}
.AboutTitle{
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
    border-bottom: solid black 4px;
    display: inline-block;
}

.AboutContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#Skills{
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
}
#Skills h1{
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
    border-bottom: solid white 4px;
    display: inline-block;
}
.SkillsContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
#Skills li{
    list-style: circle;
}
#Skills ul{
    margin: 0;
    display: flex;
    gap: 100px;
    justify-content: center;
}

#Projects{
    background-color: white;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
#Projects h1{
    font-size: 40px;
    margin-left: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;

}
#Projects ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
#Projects img{
    max-width: 200px;
    width: 100%;
}

#Projects ul{
    margin: 0;
}


#Contact{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 30px;
}
#Contact a{
    color: white;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 70px;
    color: yellow;
}   
.ContactContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Footer{
    margin: 0;
    font-weight: bold;
    font-size: 40px;
}

#Hint{
    font-size: 30px;
}
#copyright{
    text-align: center;
    margin: 0;
    margin-top: 20px;

    background-color: yellow;
    color: blue;
    font-size: 32px;
    border-top: white solid 3px;
    border-bottom: black solid 3px;
}


a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}


.clock{
    width: 160px;
    aspect-ratio: 1/1;
    flex-shrink: 0;

    margin-right: 10px;
    background-color: rgb(183, 178, 178);
    border-radius: 50%;
    margin-top: 10px;
    outline: solid black 5px;
    position: relative;
}

.clockHour{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 40px;
    background-color: black;
    border-radius: 4px;
    transform: translate(-50%, -100%);
    transform-origin: bottom center;
    animation: spin-counter 6s linear infinite;
}

.clockMins{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4px;
    height: 60px;
    background-color: white;
    border-radius: 4px;
    transform: translate(-50%, -100%);
    /* kalo pake koordinat normal pas kt trk left 50% kan ada selisih width/2 yang harus diapakan nah ini guna translatenya -100% cmn buat bikin jarum dri bawah ke atam */
    
    transform-origin: bottom center;
    animation: spin-counter 0.5s linear infinite; 
}

.dot{
    position: absolute;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: blue;
}

@keyframes spin-counter {
    from {
        transform: translate(-50%, -100%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -100%) rotate(-360deg);
    }
}


.rainbow-radial {
  background: radial-gradient(circle, red, orange, yellow, green, blue, indigo, violet);
  height: 100vh;
  animation: rainbowHyp 500ms steps(1) infinite;
  font-size: 80px;
}

@keyframes rainbowHyp{
    0%{
        background: radial-gradient(circle, orange, yellow, green, blue, indigo, violet, red);
        color: red;
    }
    16%{
        background: radial-gradient(circle, yellow, green, blue, indigo, violet, red, orange);
        color: orange;
    }
    33%{
        background: radial-gradient(circle, green, blue, indigo, violet, red, orange, yellow);
        color: yellow;
    }
    50%{
        background: radial-gradient(circle, blue, indigo, violet, red, orange, yellow, green);        
        color: green;
    }
    66%{
        background: radial-gradient(circle, indigo, violet, red, orange, yellow, green, blue);
        color: blue;
    }
    82%{
        background: radial-gradient(circle, violet, red, orange, yellow, green, blue, indigo);
        color: indigo;
    }
    100%{
        background: radial-gradient(circle, red, orange, yellow, green, blue, indigo, violet);
        color: violet;
    }
}   


.spiral {
    /* was kinda hoping to make it into smtg like a spiral but its kinda hard (you need an image for tht and i got no such design skill so i'll bear with this */   
    margin-bottom: 150px;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: 
        repeating-conic-gradient(
            from 0deg,
            yellow 0deg,
            yellow 20deg,
            red 20deg,
            red 40deg
        ),
        repeating-conic-gradient(
            from 45deg,
            transparent 0deg,
            transparent 20deg,
            rgba(0, 0, 0, 0.4) 20deg,
            rgba(0, 0, 0, 0.4) 40deg
        );
    animation: spin 4s linear infinite;
}

.spiralBW {
    /* was kinda hoping to make it into smtg like a spiral but its kinda hard (you need an image for tht and i got no such design skill so i'll bear with this */   
    margin-bottom: 150px;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: 
        repeating-conic-gradient(
            from 0deg,
            black 0deg,
            black 20deg,
            white 20deg,
            white 40deg
        ),
        repeating-conic-gradient(
            from 45deg,
            transparent 0deg,
            transparent 20deg,
            rgba(0, 0, 0, 0.4) 20deg,
            rgba(0, 0, 0, 0.4) 40deg
        );
    animation: spin 4s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


body {
    background-image: conic-gradient(white 90deg, black 90deg 180deg, white 180deg 270deg, black 270deg);
    background-size: 4vw 4vw;
    animation: changeBg 800ms steps(1) infinite;   
}

@keyframes changeBg {
    0%{
        background-image: conic-gradient(white 90deg, black 90deg 180deg, white 180deg 270deg, black 270deg);
    }
    33%{
        background-image: conic-gradient(black 90deg, white 90deg 180deg, black 180deg 270deg, white 270deg);
    }
    66%{
        background-image: conic-gradient(white 90deg, black 90deg 180deg, white 180deg 270deg, black 270deg);
    }
    100%{
        background-image: conic-gradient(black 90deg, white 90deg 180deg, black 180deg 270deg, white 270deg);
    }
}


li{
    list-style: none;
}



/* buat mobile nanti */
@media (max-width: 768px){

    #EasterEgg{
        font-size: 14px;
    }

    
.Disclaimer{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    outline: solid 3px;
}

#header{
    outline: 2px solid white;
    margin-top: 30px;
    padding: 8px;
    font-size: 20px;
    margin-left: 1px;
    margin-right: 1px;
}


#NavHead{
    font-size: 20px;
    margin: 0px 0px 3px 0px;
}

.navBar{
    font-size: 17px;
    height: 32px;
    padding: 4px;
    outline: 1px solid black;
}

#Home{
    border-left: 1px solid white;
    border-right: 1px solid white;
}

#Home img{
    width: auto;
    height: 100px;
}

.Introduction{
    font-size: 10px;
}

#About{
    font-size: 8px;
}

.AboutTitle{
    margin-left: 8px;
    font-size: 20px;
    border-bottom: solid black 2px;
}

#Skills{
    font-size: 15px;
}

#Skills h1{
    font-size: 20px;
    margin-left: 8px;
    border-bottom: solid white 2px;
}

#Skills ul{
    gap: 10px;
}

#Projects{
    font-size: 15px;
}

#Projects h1{
    font-size: 20px;
    margin-left: 1px;
}

#Projects img{
    max-width: 200px;
}

#Contact{
    font-size: 14px;
}
#Contact a{
    font-size: 20px;
    margin-top: 20px;
}   

#Footer{
    font-size: 20px;
}

#Hint{
    font-size: 16px;
}
#copyright{
    font-size: 16px;
}


.clock{
    width: 40px;
    margin-right: 3px;
    height: 40px;
    margin-top: 4px;
    outline: solid black 3px;
    flex-shrink: 0;
}

.clockHour{
    width: 1px;
    height: 10px;
    border-radius: 1px;
}

.clockMins{
    width: 1px;
    height: 15px;
    border-radius: 1px;
}

.dot{
    top: calc(50% - 1px);
    left: calc(50% - 1px);
    width: 2px;
}



.rainbow-radial {
  background: radial-gradient(circle, red, orange, yellow, green, blue, indigo, violet);
  height: 100vh;
  animation: rainbowHyp 500ms steps(1) infinite;
  font-size: 40px;
}


.spiral {
    margin-bottom: 10px;
    width: 40px;
}

.spiralBW {
    margin: 0;
    width: 10px;
    height: 10px;
    max-width: 10px;
    max-height: 10px;
    aspect-ratio: 1/1;
    flex-shrink: 0;
}


}